<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"> -->
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Document</title>
</head>

<body>
    <div class="wrap">
        <div class="popup">
            <div class="popup_top_part">
                <p class="popup_title">Заголовок</p>
                <p class="popup_date">20.03.22 - 34.13.2070</p>
            </div>
            <div class="grid">
                <div class="popup_border">
                    <div class="popup_dscr">
                        <p class="popup_dscr_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="popup_border">
                    <div class="members">
                        <p class="members_title">Участники</p>
                        <div class="category">
                            <p class="members_category_title">Администраторы</p>
                            <p class="member">Фамилия Имя Отчество</p>
                            <p class="member">Фамилия Имя Отчество</p>
                        </div>
                        <div class="category">
                            <p class="members_category_title">Разработчики</p>
                            <p class="member">Фамилия Имя Отчество</p>
                            <p class="member">Фамилия Имя Отчество</p>
                        </div>
                        <div class="category">
                            <p class="members_category_title">Заказчики</p>
                            <p class="member">Фамилия Имя Отчество</p>
                            <p class="member">Фамилия Имя Отчество</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line" style="height: 2px; background: #7B6D93; margin: 40px 0;"></div>
            <div class="comments">
                <p class="comments_title">Комментарии</p>
                <div class="comment">
                    <p class="comment_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p class="comment_date">
                        <nobr>19:20 12.08.2022</nobr>
                    </p>
                </div>

                <div class="add_new_card" style="display: flex; align-items: center; justify-content: center;">
                    <img src="/static/css/img/plus.png" alt="">
                    <a target=»_blank» href="https://git-scm.com/book/ru/v2/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B-Git-%D0%A1%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5-Git-%D1%80%D0%B5%D0%BF%D0%BE%D0%B7%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%8F" class="add">Добавить комментарий</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>